<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="https://github.com/xueyj/engmentor101">Website Source Code</a><br>
                    <a href="https://github.com/xueyj">GitHub</a><br>
                    <a href="http://www.linkedin.com/in/xuerik/">LinkedIn</a><br>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Contact Info:</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}

                    <a href="mailto:dixu@ucsd.edu">dixu@ucsd.edu</a>
                </p>
            </div>
        </div> <!--/row -->
    </div> <!--/container -->
</div> <!--/footerwrap -->