<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Welcome to Engineering Mentor 101!</h3>
                <h1>This site provides the resources you'll need to kickstart your engineering career early on in your education.</h1>
                <h5>Step-by-step Tutorials. Example Projects. Internship Databases. Anything you name.	
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/hero.jpg" | prepend: site.baseurl }}" class="img-responsive">
                <iframe width="420" height="315" src="//www.youtube.com/embed/8F-Dvyy3uWI?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->